---
export interface Props {
  classname?: string;
  id?: string
}
const { classname, id } = Astro.props as Props;
---

<div id={id} class={`block mx-auto max-w-[1480px] px-7 ${classname}`}>
  <slot />
</div>
