<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/short-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Bella Pri</title>
		<link rel="stylesheet" href="src/styles/global.css">
	</head>
	<body>
		<slot />
	</body>
</html>

